In [2]:
import seaborn as sns

In [3]:
df = sns.load_dataset('iris')

In [4]:
df.sample()

     sepal_length  sepal_width  petal_length  petal_width    species
130           7.4          2.8           6.1          1.9  virginica

In [5]:
from sklearn.preprocessing import LabelEncoder 
from sklearn.compose import ColumnTransformer 
from sklearn.model_selection import train_test_split

In [8]:
transfer = ColumnTransformer(transformers=[
    ('Lable_encoder',LabelEncoder(),['species'])
],remainder='passthrough')

In [7]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [11]:
df.sample(2)

    sepal_length  sepal_width  petal_length  petal_width species
16           5.4          3.9           1.3          0.4  setosa
24           4.8          3.4           1.9          0.2  setosa

In [12]:
le = LabelEncoder()

In [13]:
df['species']=le.fit_transform(df['species'])

In [16]:
df.shape

(150, 5)

In [17]:
df = df.sample(150)

In [18]:
df.sample(2)

     sepal_length  sepal_width  petal_length  petal_width  species
107           7.3          2.9           6.3          1.8        2
60            5.0          2.0           3.5          1.0        1

In [19]:
X=df.drop(columns=['species'])
X

     sepal_length  sepal_width  petal_length  petal_width
6             4.6          3.4           1.4          0.3
128           6.4          2.8           5.6          2.1
73            6.1          2.8           4.7          1.2
143           6.8          3.2           5.9          2.3
97            6.2          2.9           4.3          1.3
..            ...          ...           ...          ...
137           6.4          3.1           5.5          1.8
10            5.4          3.7           1.5          0.2
33            5.5          4.2           1.4          0.2
39            5.1          3.4           1.5          0.2
65            6.7          3.1           4.4          1.4

[150 rows x 4 columns]

In [20]:
y = df['species']
y

6      0
128    2
73     1
143    2
97     1
      ..
137    2
10     0
33     0
39     0
65     1
Name: species, Length: 150, dtype: int64

In [21]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [23]:
clf1 = DecisionTreeClassifier()
clf2= GaussianNB()

In [24]:
from sklearn.metrics import accuracy_score
clf1.fit(X_train,y_train)
y_pred1 = clf1.predict(X_test)
print(accuracy_score(y_test,y_pred1))

0.9333333333333333

In [25]:
clf2.fit(X_train,y_train)
y_pred2 = clf2.predict(X_test)
print(accuracy_score(y_test,y_pred2))

0.9555555555555556